[submodule "externals/cleverhans"]
	path = externals/cleverhans
	url = https://github.com/openai/cleverhans.git
[submodule "externals/carlini/nn_robust_attacks"]
	path = externals/carlini/nn_robust_attacks
	url = https://github.com/carlini/nn_robust_attacks.git
[submodule "externals/keras_models"]
	path = externals/keras_models
	url = https://github.com/fchollet/deep-learning-models.git
